# Blockchain storage
blockchain_storagee/

# Truffle build
3_SMART_CONTRACT_TRUFFLE/build/

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# AI models
*.pkl

# Environment variables
.env

# Python environments
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store